.container-fluid {
   margin-top: 100px;
}

#title {
   text-align: center;
   margin: 50px 0;
}

#time-stamp {
   text-align: center;
   padding: 25px;
}

#hourly-time-slot {
   height: 75px;
}

#hour {
   padding-top: 23px;
}

#task {
   padding-top: 8px;
}

#save-btn {
   height: 100%;
   width: 150px;
}

#save {
   padding: 0;
}